
/* hide gist interface */
#header,
#revisions,
#comments,
#delete_link,
#footer,
#files .file .meta,
#forks {
  display:none !important;
}
.secondary {
  float: none !important;
  width: auto !important;
}
.main {
  width:auto !important;
}
#repos .repo, #main, .file, .file article {
  background:none !important;
  background: transparent !important;
}

/* basic style */

body {
  background-attachment: fixed;
  background-color: #E6E6EC;
  background-image:-webkit-gradient(linear, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #E6E6EC), color-stop(100%, #B7B6CB));
  background-image:-webkit-linear-gradient(#E6E6EC, #B7B6CB);
  background-image:-moz-linear-gradient(#E6E6EC, #B7B6CB);
  background-image:-o-linear-gradient(#E6E6EC, #B7B6CB);
  background-image:-ms-linear-gradient(#E6E6EC, #B7B6CB);
  background-image: linear-gradient(#E6E6EC, #B7B6CB);
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif !important;
  font-size: 13px !important;
  color:#676482 !important;
  text-shadow: hsla(246, 13%, 100%, 0.5) 0px 1px 0px;
  padding-bottom:600px !important;
}

a {
  color: #4E51A3 !important;
}
a:hover {
  text-decoration:none;
  color: #514ECA !important;
}

.file {
  font-size:36px !important;
  line-height:54px !important;
  padding: 30px !important;
  border:0 none !important;
  width:1024px;
  margin:0 auto;
}

/* owner/gravatar/description becomes title screen */
#owner {
  background:none !important;
  background: transparent !important;
  display: block !important;
  text-align: center !important;
  padding: 30px !important;
  margin-top:120px !important;
}
#owner .name,
#owner .gravatar {
  display: block !important;
  background-color:none !important;  
  background: transparent !important;
  border: 0 none !important;
}
#owner .gravatar img {
  height:36px !important;
  width: 36px !important;
}
#owner .actor {
  border: 0 none !important;
  background-color:none !important;
  background: transparent !important;
}
#owner .name {
  font-weight:normal !important;
  font-size: 24px !important;
  color: #676482 !important;
  text-shadow: hsla(246, 13%, 100%, 0.5) 0px 1px 0px;
}
#owner .name a {
  color: #676482 !important;
  font-weight:normal !important;
}
#owner .name span {
  display: none !important;
}
/* hide gist info, except for title */

#repos table .label, #private-clone-url, #repos .title, #repos table tr + #repos table tr  {
  display: none !important;
}
#repos table td {
  width:auto !important;
  height:auto !important;
}
#repos .repo {
  margin: 0 !important;
  border: 0 none !important;
}
#repos table {
  margin:0 auto !important;
  float: none !important;
  max-width: auto !important;
}
#repos table .description {
  font-size:54px !important;
  line-height:54px !important;
  font-weight:normal !important;
  text-align:center !important;
  color:#5E559E;
}
#repos table .description form, #repos table .description a {
  display: none;
}

/* slide text style */

h1, h2, h3, h4, p {
  color: #676482 !important;
  text-align:center !important;
}
h1, h2, h3, h4 {
  border: 0 none !important;
  text-align:center;
  font-weight:normal !important;
}

/* slides */

h1, h2 {
  font-size:54px !important;
  line-height:72px !important;
  margin-bottom: 36px !important;
  color:#5E559E !important;
}
h2 {
  color:#3F3969 !important;
}
h3 {
  font-size:45px !important;
  line-height:54px !important;
  margin-bottom:18px;
}
p, li, h4 {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 36px !important;
  line-height:54px !important;
}
li * {
  text-align: left !important;
}
li, p {
  margin-bottom:24px !important;
}
/* slides with images and text */

h2 + p img {
  float:right !important;
  margin-left: 20px !important;
}



.file img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255,255,255,0.2)));
}
/* code style */

.file div.highlight {
  background: none !important;
  background: transparent !important;
}
div.highlight pre, pre {
  border: 1px solid hsla(246, 13%, 45%, 0.4) !important;
  background: hsla(246, 13%, 99%, 0.6) !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  text-align:left;
}
div.highlight pre, pre code {
  font-size:24px !important;
  text-align: left;
}

/* distribute slides */

.repo .meta { margin-bottom:800px !important;}
.markdown-body > h1 { margin-top: 800px !important; }
.markdown-body > h2 { margin-top: 800px !important; }
